<% provide(:title, "Register") %>
<h1>Register</h1>

<%= form_for @user, url: register_path, html: { role: "form" } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4>Registration failed. Please check the following things:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username, class: "control-label" %><br>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "control-label" %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "control-label" %><br>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: "control-label" %><br>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <%= f.submit "Register", class: "btn btn-default" %>
  <%= link_to 'Back', root_path, class: "btn btn-default" %>
<% end %>


